<div class="quest_wrapper">
<div class="quest_card">
  <div class="quest_header"> 
    <div class="title"><%=quest.title%></div>
    <span class="roll"><%=quest.roll%>+</span>
    <span class="points"><%=quest.points%></span>
  </div>
  <div class="quest_picture"><%= image_tag quest.image.url(:med)%></div>
  <div class="quest_text"><%=quest.text%></div>
  <div class="quest_modifiers">
    <% quest.modifier_instances.each do |mi| %>
      <%= mi.to_words %>
    <% end %>
  </div>
  <div class="quest_bottom" <%= quest.geography ? "style=background-color:#{quest.geography.color};color:white;" : ""%>>
    <%= quest.geography ? quest.geography.name : "Any Geography" %>
  </div>
</div>
<div class="web-only">
  <% if game.nil? %>
    <%= link_to "Edit", edit_quest_path(quest) %>
  <% else %>
    <%= link_to "Complete", discard_quest_path(game, quest, player, complete: true) %> | 
    <%= link_to "Discard", discard_quest_path(game, quest, player) %>
  <% end %>
</div>
</div>
