<p id="notice"><%= notice %></p>

<h1>Listing Modifier Instances</h1>

<table>
  <thead>
    <tr>
      <th>Geography</th>
      <th>Space</th>
      <th>Modifier</th>
      <th>Character</th>
      <th>Character</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @modifier_instances.each do |modifier_instance| %>
      <tr>
        <td><%= modifier_instance.geography_id %></td>
        <td><%= modifier_instance.space_id %></td>
        <td><%= modifier_instance.modifier_id %></td>
        <td><%= modifier_instance.character_id %></td>
        <td><%= modifier_instance.character %></td>
        <td><%= link_to 'Show', modifier_instance %></td>
        <td><%= link_to 'Edit', edit_modifier_instance_path(modifier_instance) %></td>
        <td><%= link_to 'Destroy', modifier_instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Modifier instance', new_modifier_instance_path %>
