<p id="notice"><%= notice %></p>

<h1>Listing Modifiers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Roll</th>
      <th>Draw</th>
      <th>Draw Other</th>
      <th>Draw All</th>
      <th>Move</th>
      <th>Move Other</th>
      <th>Move All</th>
      <th>Turn</th>
      <th>Future Turns</th>
    </tr>
  </thead>

  <tbody>
    <% @modifiers.each do |modifier| %>
      <tr>
        <td><%= modifier.name %></td>
        <td><%= modifier.roll %></td>
        <td><%= modifier.draw %></td>
        <td><%= modifier.draw_other %></td>
        <td><%= modifier.draw_other_all %></td>
        <td><%= modifier.move %></td>
        <td><%= modifier.move_other %></td>
        <td><%= modifier.turn %></td>
        <td><%= modifier.banked_turns %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Modifier', new_modifier_path %>
