
<div class="helper_wrapper">
<div class="helper_card">
  <div class="helper_header"> 
    <div class="title"><%=helper.title%></div>
  </div>
  <div class="helper_picture">...</div>
  <div class="helper_text"><%=helper.text%></div>
  <div class="helper_modifiers">
    <% helper.modifier_instances.each do |mi| %>
      <%= mi.to_words %>
    <% end %>
  </div>
</div>
<div class="web-only">
  <%= link_to "Edit", edit_helper_path(helper) %> | 
  <%= link_to "Delete", helper, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
</div>
