<h1>Editing Helper</h1>

<div class="left">
  <%= render partial: "helper", locals: {helper:@helper} %>
</div>

<div class="right">
  <h2>Card Details</h2>
  <%= render 'form' %>

  <h2>Modifiers</h2>
  <ul>
    <% @helper.modifier_instances.each do |mi| %>
      <li><%= mi.to_words %> <%= link_to "Remove", {action: :add_modifier, controller: :helpers, helper_id: @helper.id, modifier_instance: mi.id, remove: true}, method: :post %></li>
      <%# mi.to_words %> <%# link_to "Remove", {action: :add_modifier, controller: :helpers, helper_id: @helper.id, modifier: mi.modifier.id, geography: mi.geography, space: mi.space, remove: true}, method: :post %>
    <% end %>
  </ul>
  <%= form_tag controller: :helpers, action: :add_modifier do %>
    <%= hidden_field_tag :helper_id, @helper.id %>
    <%= select_tag "modifier", options_from_collection_for_select(Modifier.all, "id", "name") %> in geography
    <%= select_tag "geography", options_from_collection_for_select(Geography.all, "id", "name"), {include_blank: 'Any'} %> on space
    <%= select_tag "space", options_from_collection_for_select(Space.all, "id", "name"), {include_blank: 'Any'} %>
    <%= submit_tag "Add Modifier" %>
  <% end %>
</div>
